body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  background-image: linear-gradient(135deg, #f2f2f2, #e1e1e1); /* Light gray gradient */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.content-container {
  text-align: center;
}